.navbar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: #144287;
  color: white;
}

.navbar h1 {
  margin-right: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:visited {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #878181;
  text-decoration: none;
}